In [9]:
import pandas as pd

In [19]:
certs_earned = pd.DataFrame({
    'certificates': [8, 2, 5, 6],
    'Time (in months)': [16, 5, 9, 12]
})

names = ['Tom', 'Kris', 'Ahmad', 'Beau']
certs_earned.index = names

certs_earned.describe()

       certificates  Time (in months)
count          4.00          4.000000
mean           5.25         10.500000
std            2.50          4.654747
min            2.00          5.000000
25%            4.25          8.000000
50%            5.50         10.500000
75%            6.50         13.000000
max            8.00         16.000000

In [15]:
certs_earned.dtypes

certificates        int64
Time (in months)    int64
dtype: object

In [17]:
certs_earned.iloc[2]

certificates        5
Time (in months)    9
Name: Ahmad, dtype: int64

In [20]:
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certs_earned['Longest Streak'] = longest_streak
certs_earned

       certificates  Time (in months)  Longest Streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7

In [22]:
certs_earned['Avg certs per month'] = certs_earned['certificates'] / certs_earned['Time (in months)']
certs_earned

       certificates  Time (in months)  Longest Streak  Avg certs per month
Tom               8                16              13             0.500000
Kris              2                 5              11             0.400000
Ahmad             5                 9               9             0.555556
Beau              6                12               7             0.500000